.so{
background-color:  rgb(247, 247, 247); 
}
.o1{
    font-size: 175px; color: white; margin-left: 200px;
}
.o2{
    color: blue;
font-size: 30px; margin-left: 200px;
}
.o3{
    margin-left: 200px;
    text-align: justify; width: 600px;
}
.o4{color: blue;
}
.sa{
    display: flex;
}
.i1{
    margin-left: 400px;
}
.o5{
    margin-left: 300px;
    text-align: justify; width:400px ;
}
.o4{
    margin-left: 300px;
}
.sb{
    display: flex;
}
.o6{
    color: blue; margin-left:500px ;
}
.o7{
    text-align: justify; width: 400px; margin-left:500px;

}
.i2{
    margin-left: 250px;
}
.sc{
    display: flex;
}
.d1{
    background-color: rgb(247, 247, 247); 
     width: 800px;
    height: 600px;
}
.d2{
    background-color: blue;width: 200px; height: 250px;
}
.s9{
    text-align: justify; width: 500px;
}
.d3{margin-bottom: 500;}
.sd{
    display: flex;
}
.o12{
    margin-left:  250px;
}
.s014{
    margin-left:  250px;
}
.o15{
    text-align: justify; width: 400px;
    margin-left: 200px;
}

.o13{background-color: blue ;width:200px; height: 100px;
    margin-left:  500px;
color: aliceblue;
}
.o16{
    margin-left: 500px
    ;}
    .o17{margin-right: 600px;}
    .o18{display: flex;
        margin-left: 400px;
    }
.o11{width: 250px;}
.o19{
	background-color:  rgb(247, 247, 247); 

}
.o20{display:flex ;
margin-left: 500px;}
.a1
{
    font: size 200px;
    color: blue;
    padding:right 200px;
      

}

.a2{
    padding-left: 110px;
     
    }
    .a3{
        text-align: center;
        font: size 25px;
        padding: bottom;
    }
    .a4{
        text-align: center;
        color: blue;
        font-size: 100px;
        font-family: arial;
    }
    .a5{
        border-radius: 250px;
        margin-left: 200px;
    }
     .a6
     {
        padding-left: 250px;
        margin-left: 100px;
        position: relative;
        bottom: 200px;
    }
.a8
{
  border-radius: 250px; 
  margin-left: 300px;
   
}
.a9
{
    padding-left:  250px; 
    margin-right: 100px;
    position: relative;
    bottom: 200px;
}
.a12{
	background-color: rgb(247, 247, 247); 

}
.a13{
    color: white;
    font: size 220px;
    padding: left 80px;
}
.a14{
    padding: left 100px;
    font: size 100px;
    font-family: georgian;
    color: rgb(62, 62, 62);
}
.a15{
    padding: left 100px; ;
    font: size 50px; ;
    color: blue;
}

.a16
{
    text-align: center;
	text-align: justify;
	font-size: 25px;
    width: 20%;
    padding-left: 100px;
    margin-bottom: 30px;
    font-family: Times New Roman;
}

.a17
{
    text-align: center;
	text-align: justify;
	font-size: 25px;
    width: 20%;
    padding-left: 40px;
    padding-right: 40px;
    font-family: Times New Roman;
}
.a18
{
    margin-top: 50px;
	margin-bottom: 50px;
}
.a19,.a21,.a20
{
    color: blue;
	font-size: 90px;
	margin: 100px;

}

.a20,.a21,.a22
{
    margin-left: 100px;
}
.a23
{
    border-radius: 250px;
	margin-left: 500px;
	margin-top: 10px;
}
